.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.2);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__btn {
}
.nav__link {
  position: relative;
  color: #2e363e;
}
.nav__notification {
  position: absolute;
  bottom: 10px;
  left: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  background-color: tomato;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  border-radius: 10px;
}
.nav__bullit {
  position: absolute;
  top: 0;
  right: -5px;
  display: block;
  width: 5px;
  height: 5px;
  background-color: tomato;
  border-radius: 10px;
}