.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px var(--horizental-space);
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 25px;
  font-weight: 600;
}
.screen-header__icons {
  
}
.screen-header__icons span {
  position: relative;
  margin-left: 25px;
}
